<div class="navbar" >
    <div class="navbarItem">
        <div>
            <h3 class="navbarTitle" accesskey="product_manager_navbar_key">Product Management</h3>
        </div>
        <div class="navbarSubItem">
            <a class="navbarSubItemLink" href="/" >
                Home
            </a>
            <a class="navbarSubItemLink" href="/signup" >
                Signup
            </a>
            <a class="navbarSubItemLink" href="/login" >
                Login
            </a>

            {{!-- ${this.userData?.isLoggedIn===AccountLoggedStatus.login?
                `<button  id="logout_button" class="logout_button">LOGOUT</button>`:""
            } --}}
                        
        </div>
    </div>
</div>

